.medalTable {
  border-collapse: collapse;

  thead {
    border-bottom: 3px solid #777;
  }

  tbody > tr {
    border-bottom: 1px solid #333;
  }

  th, td {
    padding: 0.5rem;
  }

  th, td.value, td.total {
    text-align: center;
  }

  td.total {
    font-weight: bold;
  }

  td.countryCode {
    text-align: left;
    padding-right: 8rem;
  }

  .rank {
    text-align: right;
  }

  .medalGold, .medalSilver, .medalBronze {
    text-align: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
  }

  .active {
    border-top: 3px #777 solid;
  }

  .medalGold {
    background-color: gold;
  }

  .medalSilver {
    background-color: silver;
  }

  .medalBronze {
    background-color: #cd7f32;
  }

  
}